<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONTACTO - Ingenios en papel</title>
    <link rel="shortcut icon" href="..\img\shortcut.png">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/translated.css">
</head>
<body>
    <header>
        <img class="logo" src="..\img\logo-ingenios.png" alt="LOGO">
        <nav class="nav__header">
            <ul class="menu">
                <li class="menu__item">
                    <a class="menu__link" href="..\index.html">HOME</a>
                </li> 
                <li class="menu__item">
                    <a class="menu__link" href=".\conocenos.html">CONOCENOS</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href=".\cursos.html">CURSOS</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href=".\imprimibleseditables.html">IMPRIMIBLES EDITABLES</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link--active" href=".\contacto.html">CONTACTO</a>
                </li>
            </ul>
        </nav>
    </header>
    <form id="formulario" method="post">
        <input class="formulario__dato" type="text" name="nombre" placeholder="Nombre" id="">
        <input class="formulario__dato" type="email" name="correo" placeholder="Correo electrónico" id="">
        <label class="formulario__texto" for="newsletter">¿Querés recibir el newsletter?</label>
        <label class="formulario__opcion" for="newsletter">Si</label>
        <input class="formulario__opcion" type="radio" name="newsletter" value="si">
        <label class="formulario__opcion" for="newsletter">No</label>
        <input class="formulario__opcion" type="radio" name="newsletter" value="no">
        <label class="formulario__texto" for="motivo">Motivo de consulta</label>
        <select class="formulario__opcion" name="motivo" id="">
            <option value="cursos">Cursos</option>
            <option value="imprimibles editables">Imprimibles editables</option>
            <option value="otro">Otro</option>
        </select>
        <label class="formulario__texto" for="comonosconocen">¿Cómo nos conociste?</label>
        <input class="formulario__opcion" type="checkbox" name="nosconocen" value="Amigos o familiares">
        <label class="formulario__opcion" for="nosconocen">Amigos o familiares</label>
        <input class="formulario__opcion" type="checkbox" name="nosconocen" value="Redes sociales">
        <label class="formulario__opcion" for="nosconocen">Redes sociales</label>
        <textarea class="formulario__dato" name="mensaje" id="" cols="30" rows="10" placeholder="Contanos, ¿en qué podemos ayudarte?"></textarea>
        <button class="formulario__boton" type="submit">Enviar 💌</button>
        <button class="formulario__boton" type="reset">Borrar formulario ❌</button>
    </form>
    <hr>
    <footer>
        <nav class="nav__footer">
            <ul class="menu">
                <li class="menu__item">
                    <a class="menu__link" href="..\index.html">HOME</a>
                </li> 
                <li class="menu__item">
                    <a class="menu__link" href=".\conocenos.html">CONOCENOS</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href=".\cursos.html">CURSOS</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href=".\imprimibleseditables.html">IMPRIMIBLES EDITABLES</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link--active" href=".\contacto.html">CONTACTO</a>
                </li>
            </ul>
        </nav>
        <section id="momentos-especiales">
            <p class="momentos-especiales__texto">M O M E N T O S E S P E C I A L E S</p>
        </section>
    </footer>
</body>
</html>