<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMPRIMIBLES EDITABLES - Ingenios en papel</title>
    <link rel="shortcut icon" href="..\img\shortcut.png">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/translated.css">
</head>
<body>
    <header>
        <img class="logo" src="..\img\logo-ingenios.png" alt="LOGO">
        <nav class="nav__header">
            <ul class="menu">
                <li class="menu__item">
                    <a class="menu__link" href="..\index.html">HOME</a>
                </li> 
                <li class="menu__item">
                    <a class="menu__link" href=".\conocenos.html">CONOCENOS</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href=".\cursos.html">CURSOS</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link menu__link--active" href=".\imprimibleseditables.html">IMPRIMIBLES EDITABLES</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href=".\contacto.html">CONTACTO</a>
                </li>
            </ul>
        </nav>
    </header>
    <section id="milkbox">
        <article class="milkbox__art">
            <h2 class="milkbox__titulo">MILKBOX</h2>
            <p class="milkbox__texto">Descripción: Caja tipo milkbox con diseño de La granja de Zenón. Tamaño A4, abarca 2 hojas.</p>
        </article>
        <article class="milkbox__art">
            <img class="milkbox__img" src="../img/milkbox.jpeg" alt="Caja tipo milkbox">
        </article>
    </section>
    <section id="tarjeta">
        <article class="tarjeta__art">
            <img class="tarjeta__img" src="../img/deslizable.jpeg" alt="Tarjeta deslizable">
        </article>
        <article class="tarjeta__art">
            <h2 class="tarjeta__titulo">TARJETA DESLIZABLE</h2>
            <p class="tarjeta__texto">Descripción: Tarjeta deslizable con fotos y frase, con diseño del día del amigo. Tamaño A4, abarca 1 hoja.</p>
        </article>
    </section>
    <section id="cajoncito">
        <article class="cajoncito__art">
            <h2 class="cajoncito__titulo">CAJONCITO</h2>
            <p class="cajoncito__texto">Descripción: Caja tipo cajoncito con contenedor y tapa, con diseño del día de las infancias. Tamaño A4, abarca 2 hojas.</p>
        </article>
        <article class="cajoncito__art">
            <img class="cajoncito__img" src="../img/cajoncito.jpeg" alt="Caja tipo cajoncito">
        </article>
    </section>
    <section id="minibeat">
        <article class="minibeat__art">
            <img class="minibeat__img" src="../img/minibeat.jpeg" alt="Caja de los Minibeat">
        </article>
        <article class="minibeat__art">
            <h2 class="minibeat__titulo">CAJA CARAMELO</h2>
            <p class="minibeat__texto">Descripción: Caja tipo caramelo con diseño de los Mini Beat. Tamaño A4, abarca 1 hoja.</p>
        </article>
    </section>
    <hr>
    <footer>
        <nav class="nav__footer">
            <ul class="menu">
                <li class="menu__item">
                    <a class="menu__link" href="..\index.html">HOME</a>
                </li> 
                <li class="menu__item">
                    <a class="menu__link" href=".\conocenos.html">CONOCENOS</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href=".\cursos.html">CURSOS</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link menu__link--active" href=".\imprimibleseditables.html">IMPRIMIBLES EDITABLES</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href=".\contacto.html">CONTACTO</a>
                </li>
            </ul>
        </nav>
        <section id="momentos-especiales">
            <p class="momentos-especiales__texto">M O M E N T O S E S P E C I A L E S</p>
        </section>
    </footer>
</body>
</html>