ul{
    font-size: map-get($fontsize, xsmall-font);
    list-style-type: none;
    display: flex;
    gap: 20px;
    align-items: center;
    padding-left: 0;
}

.menu__link{
    text-decoration: none;
    color: $principal;
    padding: 5px;
    font-family: 'Fresca', sans-serif;
    src: url(../Fresca/Fresca-Regular.ttf);

    &--active{
        @extend .menu__link;
        border-style: solid;
    }
}

.nav__footer{
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#momentos-especiales{
    background-color: $terciario;

    .momentos-especiales__texto{
        margin-bottom: 0;
        padding: 30px;
        color: $texto;
        font-family: 'Fresca', sans-serif;
        src: url(../Fresca/Fresca-Regular.ttf);
        text-align: center;
        font-size: $xsmall-font;
    }
}