.nav__header{
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .picture__logo{
        max-width: 250px;
        height: 75px;
    }
    
    ul{
        list-style-type: none;
        display: flex;
        gap: 20px;
        align-items: center;
        padding-left: 0;
        margin-bottom: 0;
    }

    .menu__link{
        text-decoration: none;
        color: $principal;
        padding: 5px;
        font-family: 'Fresca', sans-serif;
        src: url(../Fresca/Fresca-Regular.ttf);
    
        &--active{
            border-style: solid;
        }
    }
}