.nav__header{
    padding: 50px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul{
        font-size: map-get($fontsize, xsmall-font);
        list-style-type: none;
        display: flex;
        gap: 20px;
        align-items: center;
        padding-left: 0;
        margin-bottom: 0;
    }

    .menu__link{
        text-decoration: none;
        color: $principal;
        padding: 5px;
        font-family: 'Fresca', sans-serif;
        src: url(../Fresca/Fresca-Regular.ttf);
    
        &--active{
            border-style: solid;
        }
    }
}