*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

ol{
    list-style-type: none;
}

table{
    width: 100%;
}

h1{
    padding: 50px 200px;
    text-decoration: none;
    color: $principal;
    font-family: 'Fresca', sans-serif;
    src: url(../Fresca/Fresca-Regular.ttf);
}